::placeholder { color: white } 
:-ms-input-placeholder { color: white; } /* IE 10+ */
::-webkit-input-placeholder { color: white; } /* WebKit */
::-moz-placeholder { color: white; } /* Firefox 19+ */
body{
    background: #101718 ;
    
}
/* .bg-orange-700{
    background-color: #c2410cd9 !important;
    
} */


